## Imports & Downloads

In [12]:
import nltk

In [13]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/sid/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

## Read in the data

In [16]:
data = pd.read_csv('DisneylandReviews.csv', encoding='latin-1')

## What does the data look like

In [20]:
data.head(5)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [21]:
data.shape

(42656, 6)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42656 entries, 0 to 42655
Data columns (total 6 columns):
Review_ID            42656 non-null int64
Rating               42656 non-null int64
Year_Month           42656 non-null object
Reviewer_Location    42656 non-null object
Review_Text          42656 non-null object
Branch               42656 non-null object
dtypes: int64(2), object(4)
memory usage: 2.0+ MB

## Prepare the data

In [24]:
reviews = data[["Review_ID", "Review_Text" ]]

In [26]:
reviews.head(5)

   Review_ID                                        Review_Text
0  670772142  If you've ever been to Disneyland anywhere you...
1  670682799  Its been a while since d last time we visit HK...
2  670623270  Thanks God it wasn   t too hot or too humid wh...
3  670607911  HK Disneyland is a great compact park. Unfortu...
4  670607296  the location is not in the city, took around 1...

## How to apply vader to one review

In [29]:
rev = reviews["Review_Text"][0]
rev

"If you've ever been to Disneyland anywhere you'll find Disneyland Hong Kong very similar in the layout when you walk into main street! It has a very familiar feel. One of the rides  its a Small World  is absolutely fabulous and worth doing. The day we visited was fairly hot and relatively busy but the queues moved fairly well. "

In [31]:
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(rev)

{'neg': 0.0, 'neu': 0.887, 'pos': 0.113, 'compound': 0.7069}

### For every review get and save the scores

In [44]:
body = reviews.Review_Text
neg, neu, pos, compound = [], [], [], []

In [45]:
for rev in body:
    res = analyzer.polarity_scores(rev)
    neg.append(res['neg'])
    neu.append(res['neu'])
    pos.append(res['pos'])
    compound.append(res['compound'])

In [47]:
len(compound)

42656

### Add results to our dataframe

#### What does my dataframe look like now?

In [48]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42656 entries, 0 to 42655
Data columns (total 2 columns):
Review_ID      42656 non-null int64
Review_Text    42656 non-null object
dtypes: int64(1), object(1)
memory usage: 666.6+ KB

In [ ]:
reviews['Neutral'] = neu
reviews['Negative'] = neg
reviews['Positive'] = pos
reviews['Compound'] = compound

### Create tags

In [51]:
tags = []
for i in range(len(reviews)):
    winning_val = max(neg[i], pos[i])
    if (winning_val == neg[i]):
        tags.append('Negative')
    else:
        tags.append('Positive')